openapi: 3.1.0
info:
  title: GCS-Saker Operations API
  version: "2026-08-04"
  description: |
    운영 배포의 public edge 기준 통합 계약이다. 내부 포트, DB, Redis, MQTT 관리 포트와
    credential 원문은 문서화하거나 노출하지 않는다. Swagger UI는 조회 전용이며 실제 변경
    요청은 승인된 운영 절차와 전용 클라이언트에서 수행한다.
servers:
  - url: https://a4ai.tplinkdns.com
    description: Production edge
tags:
  - { name: Auth }
  - { name: Admin }
  - { name: Operations }
  - { name: Groups }
  - { name: Media }
  - { name: Device }
  - { name: Health }
  - { name: Data plane }
security:
  - bearerAuth: []
paths:
  /auth-policy/auth/signup:
    post: { tags: [Auth], summary: 초대 토큰으로 회원가입, security: [], requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' }, '400': { $ref: '#/components/responses/Error' } } }
  /auth-policy/auth/login:
    post: { tags: [Auth], summary: 로그인 및 HttpOnly refresh session 발급, security: [], requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' }, '401': { $ref: '#/components/responses/Error' } } }
  /auth-policy/auth/refresh:
    post: { tags: [Auth], summary: refresh session 회전, security: [ { csrfCookie: [] } ], responses: { '200': { $ref: '#/components/responses/Json' }, '401': { $ref: '#/components/responses/Error' } } }
  /auth-policy/auth/me:
    get: { tags: [Auth], summary: 현재 principal과 권한 조회, responses: { '200': { $ref: '#/components/responses/Json' }, '401': { $ref: '#/components/responses/Error' } } }
  /auth-policy/auth/logout:
    post: { tags: [Auth], summary: refresh session 폐기, responses: { '204': { description: Logged out } } }
  /auth-policy/admin/signup-tokens:
    get: { tags: [Admin], summary: 회원가입 토큰 이력 조회, responses: { '200': { $ref: '#/components/responses/Json' }, '403': { $ref: '#/components/responses/Error' } } }
    post: { tags: [Admin], summary: 회원가입 토큰 발급, requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/OneTimeSecret' } } }
  /auth-policy/admin/signup-tokens/{tokenId}:
    delete: { tags: [Admin], summary: 미사용 회원가입 토큰 폐기, parameters: [ { name: tokenId, in: path, required: true, schema: { type: string } } ], responses: { '200': { description: Revoked }, '404': { $ref: '#/components/responses/Error' } } }
  /auth-policy/admin/provisioning-tokens:
    get: { tags: [Admin], summary: 장비 provisioning 토큰 이력 조회, responses: { '200': { $ref: '#/components/responses/Json' } } }
    post: { tags: [Admin], summary: 장비 provisioning 토큰 발급, requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/OneTimeSecret' } } }
  /auth-policy/admin/provisioning-tokens/{tokenId}:
    delete: { tags: [Admin], summary: 미사용 provisioning 토큰 폐기, parameters: [ { name: tokenId, in: path, required: true, schema: { type: string } } ], responses: { '200': { description: Revoked }, '404': { $ref: '#/components/responses/Error' } } }
  /auth-policy/admin/devices:
    get: { tags: [Admin], summary: 등록 장비 조회, responses: { '200': { $ref: '#/components/responses/Json' } } }
    post: { tags: [Admin], summary: 장비 등록 및 credential 최초 1회 발급, requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/OneTimeSecret' } } }
  /auth-policy/admin/devices/{deviceUuid}:
    parameters: [ { $ref: '#/components/parameters/DeviceUuid' } ]
    get: { tags: [Admin], summary: 등록 장비 상세, responses: { '200': { $ref: '#/components/responses/Json' }, '404': { $ref: '#/components/responses/Error' } } }
    patch: { tags: [Admin], summary: 장비 등록정보 변경, requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /auth-policy/admin/devices/{deviceUuid}/activate:
    post: { tags: [Admin], summary: 장비 활성화, parameters: [ { $ref: '#/components/parameters/DeviceUuid' } ], responses: { '200': { $ref: '#/components/responses/Json' } } }
  /auth-policy/admin/devices/{deviceUuid}/disable:
    post: { tags: [Admin], summary: 장비 비활성화, parameters: [ { $ref: '#/components/parameters/DeviceUuid' } ], responses: { '200': { $ref: '#/components/responses/Json' } } }
  /auth-policy/admin/devices/{deviceUuid}/credential:
    post: { tags: [Admin], summary: credential 회전 및 원문 1회 반환, parameters: [ { $ref: '#/components/parameters/DeviceUuid' } ], responses: { '200': { $ref: '#/components/responses/OneTimeSecret' } } }
  /api/v1/groups:
    get: { tags: [Groups], summary: principal이 조회 가능한 그룹, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/v1/groups/{groupId}/devices:
    get: { tags: [Groups], summary: 그룹 장비 조회, parameters: [ { $ref: '#/components/parameters/GroupId' } ], responses: { '200': { $ref: '#/components/responses/Json' }, '403': { $ref: '#/components/responses/Error' } } }
  /api/v1/groups/{groupId}/dashboard:
    get: { tags: [Groups], summary: 그룹 dashboard aggregate, parameters: [ { $ref: '#/components/parameters/GroupId' } ], responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/telemetry/all:
    get: { tags: [Operations], summary: 권한 범위 telemetry 조회, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/telemetry/:
    post: { tags: [Operations], summary: 계정 기반 legacy telemetry ingest, deprecated: true, requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' }, '401': { $ref: '#/components/responses/Error' } } }
  /api/telemetry/{uuid}/history:
    get: { tags: [Operations], summary: 장비 telemetry 이력, parameters: [ { $ref: '#/components/parameters/Uuid' } ], responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/asset/{gatewayUuid}:
    get: { tags: [Operations], summary: gateway 자산 조회, parameters: [ { name: gatewayUuid, in: path, required: true, schema: { type: string } } ], responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/ops/server-health/snapshots:
    get: { tags: [Operations], summary: 서버 상태 이력, responses: { '200': { $ref: '#/components/responses/Json' } } }
    post: { tags: [Operations], summary: 서버 상태 snapshot 기록, requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/ops/stream-sessions:
    get: { tags: [Operations], summary: stream session 조회, responses: { '200': { $ref: '#/components/responses/Json' } } }
    post: { tags: [Operations], summary: stream session 기록, requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/ops/stream-sessions/stream:
    get: { tags: [Operations], summary: stream session SSE, responses: { '200': { description: text/event-stream, content: { text/event-stream: { schema: { type: string } } } } } }
  /api/ops/events:
    get: { tags: [Operations], summary: 운영 이벤트 조회, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/ops/events/page:
    get: { tags: [Operations], summary: 운영 이벤트 페이지 조회, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/ops/events/stream:
    get: { tags: [Operations], summary: 운영 이벤트 SSE, responses: { '200': { description: text/event-stream } } }
  /api/ops/events/metrics:
    get: { tags: [Operations], summary: 운영 이벤트 metric, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/ops/events/buckets:
    get: { tags: [Operations], summary: 운영 이벤트 time bucket, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/ops/time/status:
    get: { tags: [Operations], summary: 시간 동기화 상태, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/ops/time/check:
    post: { tags: [Operations], summary: 시간 동기화 점검, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/ops/time/config:
    put: { tags: [Operations], summary: 시간 동기화 설정, requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /api/v1/geofences:
    get: { tags: [Operations], summary: principal 그룹의 geofence 조회, responses: { '200': { $ref: '#/components/responses/Json' } } }
    post: { tags: [Operations], summary: principal 그룹에 geofence 생성, requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '201': { $ref: '#/components/responses/Json' } } }
  /api/v1/geofences/{geofenceId}:
    delete: { tags: [Operations], summary: 권한 범위 geofence 삭제, parameters: [ { name: geofenceId, in: path, required: true, schema: { type: string } } ], responses: { '204': { description: Deleted }, '404': { $ref: '#/components/responses/Error' } } }
  /auth-policy/graphql:
    post: { tags: [Operations], summary: 제한된 운영 조회 GraphQL, description: "Introspection 비활성, 최대 길이 4096 및 최대 깊이 6.", requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /ws/v1/telemetry:
    get: { tags: [Data plane], summary: 인증된 telemetry WebSocket upgrade, description: OpenAPI 표현 한계상 GET으로 표시한다. 실제 프로토콜은 WebSocket이며 principal 그룹으로 필터링한다., responses: { '101': { description: Switching Protocols }, '401': { $ref: '#/components/responses/Error' } } }
  /media-control/healthz:
    get: { tags: [Health], summary: media-control liveness, security: [], responses: { '200': { $ref: '#/components/responses/Json' } } }
  /media-control/readyz:
    get: { tags: [Health], summary: media-control readiness, security: [], responses: { '200': { $ref: '#/components/responses/Json' }, '503': { $ref: '#/components/responses/Json' } } }
  /media-control/api/v1/streams:
    get: { tags: [Media], summary: 권한 범위 stream registry, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /media-control/api/v1/streams/ice-servers:
    get: { tags: [Media], summary: 인증 후 ICE 후보 조회, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /media-control/api/v1/streams/{streamId}:
    get: { tags: [Media], summary: stream 상세, parameters: [ { $ref: '#/components/parameters/StreamId' } ], responses: { '200': { $ref: '#/components/responses/Json' } } }
  /media-control/api/v1/streams/{streamId}/playback:
    get: { tags: [Media], summary: WHEP/HLS 재생 endpoint 발급, parameters: [ { $ref: '#/components/parameters/StreamId' } ], responses: { '200': { $ref: '#/components/responses/Json' } } }
  /media-control/api/v1/streams/{streamId}/publish:
    get: { tags: [Media], summary: 계정 기반 legacy publish endpoint 발급, deprecated: true, parameters: [ { $ref: '#/components/parameters/StreamId' } ], responses: { '200': { $ref: '#/components/responses/Json' } } }
  /media-control/api/v1/streams/{streamId}/talkback-publish:
    get:
      tags: [Media]
      summary: 선택 stream 대상 단기 음성 송신 세션 발급
      description: 원본 stream control 권한을 확인한 뒤 서버가 talkback WHIP 경로와 단기 토큰을 결정한다. 사용자명이나 장비 주소는 요청하지 않는다.
      parameters:
        - { $ref: '#/components/parameters/StreamId' }
        - { name: operatorId, in: query, required: false, description: 브라우저가 생성한 비식별 세션 ID, schema: { type: string, pattern: '^[A-Za-z0-9][A-Za-z0-9_-]{0,63}$' } }
      responses: { '200': { $ref: '#/components/responses/Json' }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' }, '422': { $ref: '#/components/responses/Error' } }
  /media-control/api/v1/streams/{streamId}/status:
    get: { tags: [Media], summary: stream 상태, parameters: [ { $ref: '#/components/parameters/StreamId' } ], responses: { '200': { $ref: '#/components/responses/Json' } } }
  /media-control/api/v1/device/publish-sessions:
    post:
      tags: [Device]
      summary: UUID 장비의 서버 결정 송출 세션 발급
      security: [ { deviceUuid: [], deviceCredential: [] } ]
      requestBody: { required: false, content: { application/json: { schema: { type: object, additionalProperties: false, properties: { sensorId: { type: string } } } } } }
      responses: { '201': { $ref: '#/components/responses/PublishSession' }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' } }
  /api/v1/device/publish-sessions:
    post:
      tags: [Device]
      summary: UUID 장비 송출 세션 canonical endpoint
      description: media-control service prefix를 장비에 노출하지 않는 권장 경로다.
      security: [ { deviceUuid: [], deviceCredential: [] } ]
      requestBody: { required: false, content: { application/json: { schema: { type: object, additionalProperties: false, properties: { sensorId: { type: string } } } } } }
      responses: { '201': { $ref: '#/components/responses/PublishSession' }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' } }
  /media-control/api/v1/device/publish-sessions/{sessionId}/renew:
    post: { tags: [Device], summary: renewal token 일회성 회전, parameters: [ { $ref: '#/components/parameters/SessionId' } ], responses: { '200': { $ref: '#/components/responses/PublishSessionRenewal' }, '401': { $ref: '#/components/responses/Error' } } }
  /media-control/api/v1/device/publish-sessions/{sessionId}:
    delete: { tags: [Device], summary: 송출 세션 종료, parameters: [ { $ref: '#/components/parameters/SessionId' } ], responses: { '204': { description: Session ended }, '401': { $ref: '#/components/responses/Error' } } }
  /auth-policy/policy/streams/access:
    post: { tags: [Device], summary: media-control 내부 stream 접근 판정, requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' } } }
  /auth-policy/policy/devices/publish:
    post: { tags: [Device], summary: 등록 장비·센서 기반 송출 identity 결정, security: [], requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' }, '401': { $ref: '#/components/responses/Error' } } }
  /auth-policy/policy/devices/authenticate:
    post: { tags: [Device], summary: UUID credential 인증, description: 서비스 내부 계약이며 public edge에서는 404로 차단한다., x-gcs-exposure: internal-blocked, security: [], requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' }, '401': { $ref: '#/components/responses/Error' }, '404': { description: Public edge blocked } } }
  /auth-policy/api/v1/device-bootstrap/register:
    post: { tags: [Device], summary: provisioning token으로 장비 bootstrap, security: [], requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/OneTimeSecret' } } }
  /api/v1/devices/{deviceUuid}/telemetry:
    post: { tags: [Device], summary: UUID credential 기반 telemetry ingest, security: [ { deviceUuid: [], deviceCredential: [] } ], parameters: [ { $ref: '#/components/parameters/DeviceUuid' } ], requestBody: { $ref: '#/components/requestBodies/JsonBody' }, responses: { '200': { $ref: '#/components/responses/Json' }, '401': { $ref: '#/components/responses/Error' } } }
  /gcs.saker.v1.SakerGatewayService/Exchange:
    post: { tags: [Data plane], summary: gRPC bidirectional telemetry and command exchange, description: HTTP/2 gRPC. Protobuf 계약은 contracts/proto/gcs/saker/v1/gateway_service.proto를 사용한다., security: [ { deviceUuid: [], deviceCredential: [] } ], responses: { '200': { description: gRPC stream } } }
  /webrtc/{streamPath}/whip:
    post: { tags: [Data plane], summary: WHIP media publish signaling, parameters: [ { $ref: '#/components/parameters/StreamPath' } ], responses: { '201': { description: WHIP resource created }, '401': { description: Unauthorized } } }
  /webrtc/{streamPath}/whep:
    post: { tags: [Data plane], summary: WHEP media playback signaling, parameters: [ { $ref: '#/components/parameters/StreamPath' } ], responses: { '201': { description: WHEP resource created }, '401': { description: Unauthorized } } }
  /hls/{streamPath}/index.m3u8:
    get: { tags: [Data plane], summary: HLS fallback playlist, parameters: [ { $ref: '#/components/parameters/StreamPath' } ], responses: { '200': { description: HLS playlist } } }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
    csrfCookie: { type: apiKey, in: header, name: X-GCS-CSRF, description: HttpOnly refresh cookie와 함께 same-origin 값을 사용 }
    deviceUuid: { type: apiKey, in: header, name: X-GCS-Device-UUID }
    deviceCredential: { type: apiKey, in: header, name: X-GCS-Device-Credential, description: 원문을 로그·문서·브라우저 저장소에 기록하지 않는다 }
  parameters:
    DeviceUuid: { name: deviceUuid, in: path, required: true, schema: { type: string, format: uuid } }
    Uuid: { name: uuid, in: path, required: true, schema: { type: string } }
    GroupId: { name: groupId, in: path, required: true, schema: { type: string } }
    StreamId: { name: streamId, in: path, required: true, schema: { type: string } }
    StreamPath: { name: streamPath, in: path, required: true, schema: { type: string } }
    SessionId: { name: sessionId, in: path, required: true, schema: { type: string } }
  requestBodies:
    JsonBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/JsonObject' } } } }
  responses:
    Json: { description: Successful JSON response, content: { application/json: { schema: { $ref: '#/components/schemas/JsonObject' } } } }
    Error: { description: Stable external error without stack trace or secret, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    OneTimeSecret: { description: Secret 원문은 이 응답에서만 1회 제공, headers: { Cache-Control: { schema: { type: string, const: no-store } } }, content: { application/json: { schema: { $ref: '#/components/schemas/JsonObject' } } } }
    PublishSession: { description: Server-owned path와 단기 token pair, headers: { Cache-Control: { schema: { type: string, const: no-store } } }, content: { application/json: { schema: { $ref: '#/components/schemas/PublishSession' } } } }
    PublishSessionRenewal: { description: Rotated token pair, headers: { Cache-Control: { schema: { type: string, const: no-store } } }, content: { application/json: { schema: { $ref: '#/components/schemas/PublishSessionRenewal' } } } }
  schemas:
    JsonObject: { type: object, additionalProperties: true }
    Error: { type: object, additionalProperties: false, properties: { detail: { type: string }, code: { type: string }, traceId: { type: string } } }
    PublishSession:
      type: object
      additionalProperties: false
      required: [sessionId, streamId, protocol, publishUrl, publishToken, renewalToken, publishTokenExpiresAt, renewalTokenExpiresAt]
      properties:
        sessionId: { type: string }
        streamId: { type: string }
        protocol: { type: string, const: whip }
        publishUrl: { type: string, format: uri }
        publishToken: { type: string, writeOnly: true }
        renewalToken: { type: string, writeOnly: true }
        publishTokenExpiresAt: { type: string, format: date-time }
        renewalTokenExpiresAt: { type: string, format: date-time }
        authorizationScheme: { type: string, const: Bearer }
        iceServers: { type: array, items: { $ref: '#/components/schemas/JsonObject' } }
    PublishSessionRenewal:
      type: object
      additionalProperties: false
      properties:
        publishToken: { type: string, writeOnly: true }
        renewalToken: { type: string, writeOnly: true }
        publishTokenExpiresAt: { type: string, format: date-time }
        renewalTokenExpiresAt: { type: string, format: date-time }
