{
  "openapi": "3.1.0",
  "info": {
    "title": "GCS-Saker Public Edge API",
    "version": "0.10.0",
    "description": "Nginx 443 public entrypoint 기준의 협업용 API 문서다. Dashboard, auth-policy, media-control, MediaMTX signaling, HLS fallback, legacy fallback 경계를 한 OpenAPI 문서로 묶는다."
  },
  "servers": [
    {
      "url": "https://a4ai.tplinkdns.com",
      "description": "현재 운영 edge 예시"
    },
    {
      "url": "http://localhost:8080",
      "description": "로컬 single-node edge 예시"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "로그인, 회원가입, refresh, 현재 사용자, logout"
    },
    {
      "name": "Operational",
      "description": "운영 이벤트, 서버 상태, stream session, telemetry read model"
    },
    {
      "name": "Time Sync",
      "description": "공개망/폐쇄망 시간 서버 동기화 설정"
    },
    {
      "name": "Media Control",
      "description": "stream registry, ICE server, playback/publish authorization"
    },
    {
      "name": "Media Plane",
      "description": "MediaMTX WebRTC WHIP/WHEP signaling 및 HLS fallback"
    },
    {
      "name": "Legacy",
      "description": "호환용 fallback route. 신규 기능의 기본 경로로 쓰지 않는다."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-gcs-protocol-boundary": {
    "browserAllowed": [
      "HTTPS JSON",
      "SSE",
      "WHIP",
      "WHEP",
      "HLS"
    ],
    "browserForbidden": [
      "gRPC direct",
      "MQTT direct",
      "DB direct",
      "Redis/DragonFly direct",
      "MediaMTX admin direct"
    ],
    "internalGateway": {
      "grpcService": "gcs.saker.v1.SakerGatewayService",
      "grpcMethod": "/gcs.saker.v1.SakerGatewayService/Exchange",
      "metadata": [
        "x-gcs-gateway-token",
        "authorization: bearer <token>"
      ],
      "payloadKinds": [
        "telemetry",
        "stream_event",
        "command_ack",
        "command",
        "telemetry_batch"
      ]
    },
    "mqttTopics": [
      "gcs/{orgId}/{groupId}/{assetId}/telemetry",
      "gcs/{orgId}/{groupId}/{assetId}/command",
      "gcs/{orgId}/{groupId}/{assetId}/status",
      "gcs/{orgId}/{groupId}/{assetId}/command_ack"
    ],
    "mediaFrameRule": "video/audio media frame은 WebRTC/HLS media plane으로만 보내며 REST, MQTT, gRPC, GraphQL payload에 직접 태우지 않는다."
  },
  "paths": {
    "/auth-policy/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "초대 코드 기반 회원가입",
        "security": [
          {
            "csrfHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AuthTokenResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/auth-policy/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "로그인",
        "description": "access token을 JSON으로 내려주고 refresh token은 httpOnly cookie로 관리한다.",
        "security": [
          {
            "csrfHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AuthTokenResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/auth-policy/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "access token 재발급",
        "description": "httpOnly refresh cookie와 CSRF header를 사용한다.",
        "security": [
          {
            "csrfHeader": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AuthTokenResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/auth-policy/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "현재 사용자 조회",
        "responses": {
          "200": {
            "description": "현재 사용자",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentUserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/auth-policy/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "로그아웃",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "csrfHeader": []
          }
        ],
        "responses": {
          "204": {
            "description": "로그아웃 완료"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "auth-policy liveness",
        "security": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthResponse"
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "auth-policy readiness",
        "security": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthResponse"
          }
        }
      }
    },
    "/api/ops/events": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "운영 이벤트 목록",
        "parameters": [
          {
            "$ref": "#/components/parameters/SeverityQuery"
          },
          {
            "$ref": "#/components/parameters/FromQuery"
          },
          {
            "$ref": "#/components/parameters/ToQuery"
          },
          {
            "$ref": "#/components/parameters/SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "운영 이벤트 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OperationalEvent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ops/events/page": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "운영 이벤트 페이지",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/SizeQuery"
          },
          {
            "$ref": "#/components/parameters/SeverityQuery"
          },
          {
            "$ref": "#/components/parameters/SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "운영 이벤트 페이지",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationalEventPage"
                }
              }
            }
          }
        }
      }
    },
    "/api/ops/events/stream": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "운영 이벤트 SSE stream",
        "responses": {
          "200": {
            "description": "text/event-stream"
          }
        }
      }
    },
    "/api/ops/events/metrics": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "이벤트/ICE/stream session 집계",
        "parameters": [
          {
            "$ref": "#/components/parameters/FromQuery"
          },
          {
            "$ref": "#/components/parameters/ToQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "운영 이벤트 집계",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationalEventMetrics"
                }
              }
            }
          }
        }
      }
    },
    "/api/ops/events/buckets": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "운영 이벤트 시간 bucket",
        "parameters": [
          {
            "$ref": "#/components/parameters/FromQuery"
          },
          {
            "$ref": "#/components/parameters/ToQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "시간 bucket 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OperationalEventBucket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/telemetry/all": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "접근 가능한 telemetry 최신 목록",
        "responses": {
          "200": {
            "description": "telemetry 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Telemetry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/telemetry/": {
      "post": {
        "tags": [
          "Operational"
        ],
        "summary": "telemetry ingest",
        "description": "현재 REST 호환 경로다. 대량 장비 연동은 MQTT/Protobuf 또는 gRPC gateway로 이전한다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryIngestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "저장된 telemetry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Telemetry"
                }
              }
            }
          }
        }
      }
    },
    "/api/telemetry/{uuid}/history": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "장비 telemetry history",
        "parameters": [
          {
            "$ref": "#/components/parameters/UuidPath"
          }
        ],
        "responses": {
          "200": {
            "description": "telemetry history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Telemetry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/asset/{gatewayUuid}": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "gateway 기준 asset 조회",
        "parameters": [
          {
            "name": "gatewayUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "asset 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          }
        }
      }
    },
    "/api/ops/server-health/snapshots": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "서버 상태 snapshot 조회",
        "responses": {
          "200": {
            "description": "서버 상태 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServerHealthSnapshot"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Operational"
        ],
        "summary": "서버 상태 snapshot 저장",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerHealthSnapshot"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "저장된 snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerHealthSnapshot"
                }
              }
            }
          }
        }
      }
    },
    "/api/ops/stream-sessions": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "stream session 조회",
        "responses": {
          "200": {
            "description": "stream session 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StreamSession"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Operational"
        ],
        "summary": "stream session 상태 저장",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamSession"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "저장된 stream session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamSession"
                }
              }
            }
          }
        }
      }
    },
    "/api/ops/stream-sessions/stream": {
      "get": {
        "tags": [
          "Operational"
        ],
        "summary": "stream session SSE stream",
        "responses": {
          "200": {
            "description": "text/event-stream"
          }
        }
      }
    },
    "/api/ops/time/status": {
      "get": {
        "tags": [
          "Time Sync"
        ],
        "summary": "시간 동기화 상태",
        "responses": {
          "200": {
            "description": "시간 동기화 상태",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSyncStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/ops/time/check": {
      "post": {
        "tags": [
          "Time Sync"
        ],
        "summary": "시간 동기화 즉시 점검",
        "responses": {
          "200": {
            "description": "시간 점검 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSyncStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/ops/time/config": {
      "put": {
        "tags": [
          "Time Sync"
        ],
        "summary": "시간 서버 설정 변경",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "csrfHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeSyncConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "변경된 시간 동기화 상태",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSyncStatus"
                }
              }
            }
          }
        }
      }
    },
    "/media-control/healthz": {
      "get": {
        "tags": [
          "Media Control"
        ],
        "summary": "media-control liveness",
        "security": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/HealthResponse"
          }
        }
      }
    },
    "/media-control/readyz": {
      "get": {
        "tags": [
          "Media Control"
        ],
        "summary": "media-control readiness",
        "security": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReadinessResponse"
          }
        }
      }
    },
    "/media-control/api/v1/streams": {
      "get": {
        "tags": [
          "Media Control"
        ],
        "summary": "접근 가능한 stream 목록",
        "responses": {
          "200": {
            "description": "stream 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/media-control/api/v1/streams/ice-servers": {
      "get": {
        "tags": [
          "Media Control"
        ],
        "summary": "ICE server 목록",
        "description": "STUN 우선, TURN fallback 후보를 반환한다. TURN 후보 수는 부하를 줄이기 위해 제한한다.",
        "responses": {
          "200": {
            "description": "ICE server 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IceServersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-control/api/v1/streams/{streamId}": {
      "get": {
        "tags": [
          "Media Control"
        ],
        "summary": "stream 단건 정보",
        "parameters": [
          {
            "$ref": "#/components/parameters/StreamIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "stream 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamDescriptor"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/media-control/api/v1/streams/{streamId}/playback": {
      "get": {
        "tags": [
          "Media Control"
        ],
        "summary": "short-lived playback URL 발급",
        "parameters": [
          {
            "$ref": "#/components/parameters/StreamIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "WHEP/HLS playback URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamPlaybackResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/media-control/api/v1/streams/{streamId}/publish": {
      "get": {
        "tags": [
          "Media Control"
        ],
        "summary": "short-lived WHIP publish URL 발급",
        "parameters": [
          {
            "$ref": "#/components/parameters/StreamIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "WHIP publish URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamPublishResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/media-control/api/v1/streams/{streamId}/status": {
      "get": {
        "tags": [
          "Media Control"
        ],
        "summary": "stream 상태 조회",
        "parameters": [
          {
            "$ref": "#/components/parameters/StreamIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "stream 상태",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webrtc/{streamPath}/whip": {
      "post": {
        "tags": [
          "Media Plane"
        ],
        "summary": "WHIP 송출 signaling",
        "description": "publish API에서 받은 short-lived token이 포함된 URL을 사용한다.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/StreamPathPath"
          },
          {
            "$ref": "#/components/parameters/PublisherTokenQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/sdp": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "WHIP session created"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/webrtc/{streamPath}/whep": {
      "post": {
        "tags": [
          "Media Plane"
        ],
        "summary": "WHEP 수신 signaling",
        "description": "playback API에서 받은 short-lived token이 포함된 URL을 사용한다.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/StreamPathPath"
          },
          {
            "$ref": "#/components/parameters/PlaybackTokenQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/sdp": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "WHEP session created"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/hls/{streamPath}/index.m3u8": {
      "get": {
        "tags": [
          "Media Plane"
        ],
        "summary": "HLS fallback playlist",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/StreamPathPath"
          },
          {
            "$ref": "#/components/parameters/PlaybackTokenQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "HLS playlist",
            "content": {
              "application/vnd.apple.mpegurl": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/stream/status": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "legacy stream status smoke",
        "description": "신규 dashboard는 /media-control/api/v1/streams 계열을 사용한다.",
        "security": [],
        "responses": {
          "200": {
            "description": "deprecated compatibility status",
            "headers": {
              "Deprecation": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "X-GCS-Replacement-Route": {
                "schema": {
                  "type": "string",
                  "example": "/media-control/api/v1/streams"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/map/config": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "legacy map config fallback",
        "description": "auth-policy read model로 이전될 때까지 유지한다.",
        "responses": {
          "200": {
            "description": "map config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapConfig"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "csrfHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-GCS-CSRF",
        "description": "브라우저 변경성 요청은 same-origin 값을 사용한다."
      }
    },
    "parameters": {
      "StreamIdPath": {
        "name": "streamId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "raw.local.webcam"
        },
        "description": "API에서는 dot 형식 stream id를 사용한다."
      },
      "StreamPathPath": {
        "name": "streamPath",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "raw/local/webcam"
        },
        "description": "MediaMTX path는 slash 형식을 사용한다."
      },
      "PublisherTokenQuery": {
        "name": "publisherToken",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "PlaybackTokenQuery": {
        "name": "playbackToken",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "UuidPath": {
        "name": "uuid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "PageQuery": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "SizeQuery": {
        "name": "size",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      },
      "SeverityQuery": {
        "name": "severity",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/EventSeverity"
        }
      },
      "SearchQuery": {
        "name": "q",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "FromQuery": {
        "name": "from",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "ToQuery": {
        "name": "to",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "responses": {
      "AuthTokenResponse": {
        "description": "인증 성공",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TokenResponse"
            }
          }
        }
      },
      "HealthResponse": {
        "description": "health response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HealthResponse"
            }
          }
        }
      },
      "ReadinessResponse": {
        "description": "readiness response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ReadinessResponse"
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string",
            "example": "operator"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "SignupRequest": {
        "type": "object",
        "required": [
          "username",
          "password",
          "email",
          "inviteCode"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "inviteCode": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "groupId": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "required": [
          "accessToken",
          "tokenType",
          "expiresInSeconds",
          "user"
        ],
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "tokenType": {
            "type": "string",
            "example": "bearer"
          },
          "expiresInSeconds": {
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "CurrentUserResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/User"
          }
        ]
      },
      "User": {
        "type": "object",
        "required": [
          "username",
          "role",
          "groupId"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "example": "operator"
          },
          "groupId": {
            "type": "string",
            "example": "co-a"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          },
          "service": {
            "type": "string"
          }
        }
      },
      "ReadinessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          },
          "service": {
            "type": "string"
          },
          "checks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "required": {
                  "type": "boolean"
                },
                "reason": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "EventSeverity": {
        "type": "string",
        "enum": [
          "info",
          "warn",
          "error"
        ]
      },
      "OperationalEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/EventSeverity"
          },
          "source": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OperationalEventPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationalEvent"
            }
          },
          "page": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "OperationalEventMetrics": {
        "type": "object",
        "properties": {
          "severityCounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "severity": {
                  "$ref": "#/components/schemas/EventSeverity"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "streamSessionMetrics": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "icePathCounts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "OperationalEventBucket": {
        "type": "object",
        "properties": {
          "bucketStart": {
            "type": "string",
            "format": "date-time"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "TelemetryIngestRequest": {
        "type": "object",
        "required": [
          "uuid",
          "latitude",
          "longitude",
          "observedAt"
        ],
        "properties": {
          "uuid": {
            "type": "string"
          },
          "streamId": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "altitudeM": {
            "type": "number"
          },
          "headingDeg": {
            "type": "number"
          },
          "speedMps": {
            "type": "number"
          },
          "batteryPercent": {
            "type": "number"
          },
          "observedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Telemetry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TelemetryIngestRequest"
          },
          {
            "type": "object",
            "properties": {
              "receivedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "Asset": {
        "type": "object",
        "properties": {
          "gatewayUuid": {
            "type": "string"
          },
          "assetId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ServerHealthSnapshot": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "ok"
          },
          "rttMs": {
            "type": "number"
          },
          "observedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StreamSession": {
        "type": "object",
        "properties": {
          "streamId": {
            "type": "string"
          },
          "assetId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "icePath": {
            "type": "string",
            "example": "direct"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TimeSyncConfigRequest": {
        "type": "object",
        "required": [
          "mode"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "public",
              "closed-network"
            ]
          },
          "server": {
            "type": "string",
            "description": "폐쇄망에서 직접 지정하는 시간 서버 IP 또는 도메인"
          }
        }
      },
      "TimeSyncStatus": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string"
          },
          "server": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "offsetMs": {
            "type": "number"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StreamListResponse": {
        "type": "object",
        "required": [
          "streams"
        ],
        "properties": {
          "streams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StreamDescriptor"
            }
          }
        }
      },
      "StreamDescriptor": {
        "type": "object",
        "required": [
          "streamId",
          "path",
          "status"
        ],
        "properties": {
          "streamId": {
            "type": "string",
            "example": "raw.local.webcam"
          },
          "path": {
            "type": "string",
            "example": "raw/local/webcam"
          },
          "prefix": {
            "type": "string",
            "example": "raw"
          },
          "assetId": {
            "type": "string"
          },
          "sensorId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "online"
          },
          "displayName": {
            "type": "string"
          },
          "playbackUrls": {
            "$ref": "#/components/schemas/PlaybackUrls"
          }
        }
      },
      "PlaybackUrls": {
        "type": "object",
        "properties": {
          "webrtc": {
            "type": "string",
            "example": "/webrtc/raw/local/webcam/whep?playbackToken=<short-lived-token>"
          },
          "hls": {
            "type": "string",
            "example": "/hls/raw/local/webcam/index.m3u8?playbackToken=<short-lived-token>"
          }
        }
      },
      "StreamPlaybackResponse": {
        "type": "object",
        "properties": {
          "streamId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "playbackUrls": {
            "$ref": "#/components/schemas/PlaybackUrls"
          }
        }
      },
      "StreamPublishResponse": {
        "type": "object",
        "properties": {
          "streamId": {
            "type": "string"
          },
          "whipUrl": {
            "type": "string",
            "example": "/webrtc/raw/local/webcam/whip?publisherToken=<short-lived-token>"
          }
        }
      },
      "StreamStatusResponse": {
        "type": "object",
        "properties": {
          "streamId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "IceServersResponse": {
        "type": "object",
        "required": [
          "iceServers"
        ],
        "properties": {
          "iceServers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IceServer"
            }
          }
        }
      },
      "IceServer": {
        "type": "object",
        "required": [
          "urls"
        ],
        "properties": {
          "urls": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "example": "stun:stun.l.google.com:19302"
          },
          "username": {
            "type": "string"
          },
          "credential": {
            "type": "string"
          }
        }
      },
      "MapConfig": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "example": "esri-satellite"
          },
          "styleUrl": {
            "type": "string"
          },
          "attribution": {
            "type": "string"
          },
          "requiresApiKey": {
            "type": "boolean"
          }
        }
      }
    }
  }
}
